<div id="container">
  <div id="root">
    <%- @image_url_arr.each_with_index do |img, i| %>
      <%- if i % 4 == 0 %>
        <div class="row">
      <% end %>
      <img src="<%= img %>" class='screensaver-img' id="<%= i %>" />
      <%- if i % 4 == 3 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
